/*CSS RESET*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// GENERICS
body {
    background-color: black;
    height: 100vh;
}

header {
    height: 150px;
    width: 100%;
    padding: 0 50px;
}

main {
    padding: 0 50px;
    width: 100%;
    height: calc(100% - 150px);
    overflow: auto;
}

// PRODUCTION-CARD

.card-container {
    width: 100%;
}

.col {
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
}

.production-card {
    height: 400px;
    text-align: center;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

}

img.flag {
    width: 50px;
    height: 30px;
    margin: 10px;
}